@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&family=Raleway:wght@400;700&display=swap');

// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;

$DarkBlueintro: hsl(217, 28%, 15%);
$DarkBlueMain: hsl(218, 28%, 13%);
$DarkBlueFooter: hsl(216, 53%, 9%);
$DarkBlueTest: hsl(219, 30%, 18%);

// Accent

$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);
$LightRed: hsl(0, 100%, 63%);

// Neutral

$White: hsl(0, 0%, 100%);

*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: $White;
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body{
  background: $DarkBlueintro;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  .card{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-links{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      a{
        padding: 1rem;
      }
    }
  }
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  background: url(images/bg-curvy-desktop.svg);
  background-size: cover;
  background-position-x: center;
  background-position-y: -90%;
  .card{
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 1rem 0;
    font-family: 'Raleway', sans-serif;
  }
  p{
    text-align: center;
    padding: 1.5rem 0;
    line-height: 1.5rem;
  }
  button{
    cursor: pointer;
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 50px;
    background: $Cyan;
  }
}